body{
    background-color: var(--cor-primaria);
    text-decoration: none;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 100%; /* Acima do elemento */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


.toggle{
    position: absolute;
    right: 0 !important;
    margin-right: 1em;
    transition: 1s;
}

.toggle-btn{
    gap: 1600px !important;
    transition: 1s;
}





.cabecalho{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 1760px;
    background-color: var(--cor-primaria);
    transition: 1s;
    
}

.cabecalho > h3{
    margin-left: 1em;
    margin-top: 1em;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 30px;
}

.cabecalho > span {
    margin-top: 0.7em;
    margin-right: 1em;
    cursor: pointer;
}

.cabecalho > span:hover{
    filter: invert(1) brightness(2);
    transition: 0.5s;
}

.side-menu{
    position: absolute;
    top: 42%;
    right: 0;
    margin-right: 3em;
}

.side-menu__icons > li > a >img{
    width: 26px;
    height: 26px;
    cursor: pointer;
    
    

}

.side-menu__icons > li > a > img:hover{
    filter: invert(1) brightness(2);
    transition: 0.5s;
}

.side-menu__icons{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.container > h3{
    font-family: var(--fonte-secundaria);
    font-size: 35px;
    position: absolute;
    right: 44%;
    top:43%;
}

.container__h1{
    
    font-family: var(--fonte-primaria);
    font-size: 70px;
    color: var(--cor-secundaria);
    position: absolute;
    right: 31%;
    top: 48%;
}

.container__bg__text{
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 900px;
    opacity: 15%;
    pointer-events: none;
}

.rodape > span{
    position: fixed;
    bottom: 0;
    right: 50%;
    margin-bottom: 1em;
    cursor: pointer;
}

.rodape > span:hover{
    filter: invert(1) brightness(2);
    transition: 0.5s;
}

.menu-toggle{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 1.7em; 
    position: absolute;
    right: -50%;
    cursor: pointer;
    transition: 1s;
}

.menu-toggle > span:hover{
    filter: invert(1) brightness(2);
    transition: 0.5s;
}











